version: "3"

services:

  app:
    image: node
    volumes:
      - ./:/app
    working_dir: /app
    environment:
      NODE_ENV: development
    ports:
      - 3000:8080
    command: bash -c "npm install --no-bin-links && npm run start"