version: "3"

services:

  app:
    image: node:alpine
    volumes:
      - ./:/app
    working_dir: /app
    environment:
      NODE_ENV: development
    ports:
      - 8080:8080
    command: sh -c "npm install --no-bin-links && npm run dev"