
.debug-bar {

    background-color: orange;

    /*margin: top right bottom left ;*/
    margin: 5vh 0 0 0;
    padding: 0 2.5vw 0 2.5vw;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;

}

.debug-item.debug-title {
    flex: auto;
    font-size: 1.5em;
}

.debug-item.debug-button {

    flex: 0 1 auto;

    /*margin: top right bottom left ;*/
    margin: 1vh 2.5vw 1vh 2.5vw;

    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    padding: .5em 1em;
    border: none transparent;
    text-decoration: none;
    cursor: pointer;

    font-weight: bold;

}

.debug-item#HTML:enabled { /* TODO : Make it dynamic */
    background-color: deepskyblue;
}

.debug-item#CSS:enabled {
    background-color: yellow;
}

.debug-item#ARIA:enabled {
    background-color: greenyellow;
}

.debug-item:disabled {
    background-color: rgba(0, 0, 0, 0.2);
}

.counter {
    border-radius: 1em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    margin-right: 5px;
    text-align: center;
    width: 1.6em;
}

.success {
    background-color: limegreen;
}
.warning {
    background-color: darkorange;
}
.error {
    background-color: red;
}

.disabled {
    background-color: darkgrey;
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- -----   Tooltip   ----- ----- ----- ----- ----- */
/* -----      src: https://www.w3schools.com/css/css_tooltip.asp     ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */

/* Tooltip container */
.tooltip-container {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip-container .tooltip-content {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip-container:hover .tooltip-content {
    visibility: visible;
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- -----    Popup (without JS ! *happy*)     ----- ----- ----- */
/* -----           src: https://codepen.io/peiche/pen/vhqym          ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 200ms;
    visibility: hidden;
    opacity: 0;
}
.overlay.light {
    background: rgba(255, 255, 255, 0.5);
}
.overlay .cancel {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: default;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
.popup {
    margin: 75px auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #666;
    width: 300px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    position: relative;
}
.light .popup {
    border-color: #aaa;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}
.popup h2 {
    margin-top: 0;
    color: #666;
    font-family: "Trebuchet MS", Tahoma, Arial, sans-serif;
}
.popup .close {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 20px;
    right: 20px;
    opacity: 0.8;
    transition: all 200ms;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #666;
}
.popup .close:hover {
    opacity: 1;
}
.popup .content {
    max-height: 400px;
    overflow: auto;
}
.popup p {
    margin: 0 0 1em;
}
.popup p:last-child {
    margin: 0;
}
