body
{
    background-color: #ff6057;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.header
{
    float: left;
    top: 0;
    left: 0;
    text-align: center;
    height: 150px;
    width: 100%;
    background-color: #ff9c55;
}
.title
{
    margin-top: 80px;
    font-weight: 600;
    font-size: 100px;
    color: white;
    text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.6);
}
.container
{
    display: flex;
    justify-content: center;
    width: 50%;
    height: auto;
    margin-left: 25%;
    background-color: transparent;
    padding-top: 120px;
}
.card
{
    flex: 1 50%;
    background-color: white;
    height: 300px;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.35);
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.35);
    border-radius: 2px;
}
.form-row
{
    display: flex;
    flex-basis: 12%;
    justify-content: center;
    width: 90%;
    height: auto;
    margin-left: 5%;
}
.form-input
{
    flex: 12;
}