
<a href="#popup_{{_NAME_}}">

    <button id="{{_NAME_}}" class="debug-item debug-button tooltip-container" {{_DISABLED_}}>

        <span class="name">{{_NAME_}}</span>
        <span class="counter {{_DISABLED_}} warning" >{{_COUNTER_WARNING_}}</span>
        <span class="counter {{_DISABLED_}} error" >{{_COUNTER_ERROR_}}</span>

        <span class="tooltip-content">
            {{_NAME_}}
            <br/>{{_COUNTER_WARNING_}} Warning(s)
            <br/>{{_COUNTER_ERROR_}} Error(s)
        </span>

    </button>

</a>
