{% extends "layout.html.twig" %}

{% block title %}Login{% endblock %}

{% block css %}
{{ parent() }}
{% endblock %}

{% block javascritp %}
{{ parent() }}
{% endblock %}

{% block body %}
<div class="card">
  <div class="card-header">
    <h1>Login</h1>
  </div>
  <div class="card-body">
    <form class="form" action="{{base_uri}}/account/login" method="POST">
      <div class="form-row">
        <div class="form-input">
          <label for="username" class="label-input">Utilisateur : </label>
          <input type="text" class="input-text" name="username" id="username">
        </div>
        <div class="form-input">
          <label for="password" class="label-input">Mot de passe : </label>
          <input type="password" class="input-text" name="password" id="password">
        </div>
        <button type="submit" class="button">Connexion <i class="fas fa-check"></i></button>
      </div>
    </form>
  </div>
</div>
{% endblock %}